<h1>You have a new workout scheduled</h1>
<p>Details:</p>
<ul>
  <li>Sport: {{workout.sport}}</li>
  <li>Exercises: {{workout.exercises}}</li>
  <li>Duration: {{workout.duration}} minutes</li>
  <li>Trainer: {{workout.trainer}}</li>
</ul>
